<?xml version="1.0"?>

<!--
Copyright (c) 2012 - 2019, Prolobjectlink Project

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->

<document>
  <properties>
    <title>Download ${project.name}</title>
  </properties>
  <body>
    <section name="Download ${project.name} ${project.version} Source">

      <p>${project.name} is distributed under the The MIT License (MIT). 
      ${project.name} ${project.version} is distributed in binary format.</p>

      <subsection name="${project.name} ${project.version}">
        
      <p>This is the current stable version of ${project.name}.</p>
        
      <table>
        <thead>
          <tr>
            <th>Format</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>${project.name} ${project.version} (Binary zip)</td>
            <td><a href="index.html">${project.name}-${project.version}.zip</a></td>
          </tr>
        </tbody>
      </table>
      </subsection>

      <subsection name="Previous Versions">
        
      <p>Older releases can be found on our <a href="index.html">archive site</a>.</p>

      </subsection>
    </section>
  </body>
</document>

